html, body {
  
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  color: rgb(217, 0, 255);
  font-family: monospace;
  font-size: 200%;
  
}

body {
  min-height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



a {
text-decoration: none;  
color: rgb(217, 0, 255);
font-size: 100%;
text-align: center;
}


.clearcd{
  max-width: 50%;
  height: auto;
}





